<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/productCreate.css">
    <%- include("../partials/head.ejs") %>
    <title>Nuevo Producto</title>
</head>

<body>
    <main>
        <%- include("../partials/header.ejs") %> 
        <section class="titulo">
            <a href="/">Volver a Lexaeus</a>
            <h1>Nuevo Producto</h1>
        </section>

        <form action="/products/save" method="post">
            <section class="superior">
                <section class="izquierda">

                    <h2>Nombre</h2>

                    <input type="text" name="nombre" class="campo" required>

                    <h2>Categoria</h2>

                    <select name="categoria" class="campo" required>
                
                    <option value="1">Hombre</option>
                    <option value="2">Mujer</option>
                    <option value="3">Calzado</option>
                    <option value="4">Accesorios</option>

                </select>

                    <h2>Descripción</h2>

                    <input type="text" name="descripcion" class="descr">

                </section>

                <section class="derecha">
                    <article class="TituloBotonImagen">
                        <h2>Imagen</h2>
                        <div class="file-select" id="src-file1">
                            <input type="file" name="img" aria-label="Archivo">
                        </div>
                    </article>

                    <img src="#" alt="ImagenProducto" class="imagen">

                </section>

                <section class="detalles">
                    <section>
                        <h2>Stock</h2>

                        <input type="text" name="stock" required>
                    </section>

                    <section>
                        <h2>Talle</h2>

                        <input type="text" name="talle" required>
                    </section>

                    <section>
                        <h2>Color</h2>

                        <input type="text" name="color" required>
                    </section>
                </section>

            </section>

            <section class="inferior">
                <section class="precio">
                    <h2>Precio</h2>

                    <input type="text" name="precio" class="campo" required>
                </section>

                <section class="botones">
                    <input type="reset" value="Cancelar" class="botonCancelar">
                    <input type="submit" value="Cargar Producto" class="botonConfirmar">
                </section>
            </section>
        </form>
    </main>
    <%- include("../partials/footer.ejs") %> 
</body>

</html>