<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
    
    <link href="/css/producto.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %> 
    <main>

        <section>

            <article class="secimag">
                <img src="/img/imagen_1.jpg" alt="Producto1" class="imagenprod">
            </article>

            <article class="detallescompra">

                <section class="titulo">
                    <p>Nombre del producto</p>
                </section>

                <section class="precio">
                    <p>$9999.99</p>
                </section>

                <section class="combos">
                    <p class="txtdetallecompra">Talle</p>
                    <select name="talle" class="comboestilo">
                
                        <option value="1">Talle 1</option>
                        <option value="2">Talle 2</option>
                        <option value="3">Talle 3</option>
                        <option value="4">Talle 4</option>
                        <option value="5">Talle 5</option>
                        <option value="6">Talle 6</option>
                        <option value="7">Talle 7</option>
                        <option value="8">Talle 8</option>
                        <option value="9">Talle 9</option>
                        <option value="10">Talle 10</option>

                    </select>
                </section>

                <section class="combos">
                    <p class="txtdetallecompra">Color</p>
                    <select name="color" class="comboestilo">
                
                        <option value="Blanco">Blanco</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Negro">Negro</option>
                        <option value="Gris">Gris</option>
                        <option value="Azul">Azul</option>

                    </select>
                </section>

                <section class="combos">
                    <p class="txtdetallecompra">Cantidad</p>
                    <select name="cantidad" class="comboestilo">
                
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                </section>

                <form class="frmbotoncarrito">
                    <button type="button" class="boton"><a class="a-productdetail" href="/productCart">Agregar al Carrito</a></button>
                </form>


            </article>

        </section>

        <h3>Descripcion</h3>

        <p class="descripcion">Una versión moderna de la simplicidad, la zapatilla Lerond está confeccionada con cuero napa y diseñada en combinaciones de colores atemporales inspiradas en el deporte. Un estilo discreto acentuado por detalles característicos, ejemplifica el
            legado distintivo del tenis de Lacoste. Características como la lengüeta del talón de cuero con efecto de carbono y los recubrimientos de malla de poliéster reciclado añaden destreza técnica al diseño contemporáneo.
        </p>

        <h2>Te puede Interesar</h2>

        <section class="tepuedeinteresar">
            <article>
                <img src="/img/imagen_2.jpg" alt="Producto2" class="artimg">
                <p class="arttxt">$9999.99</p>
            </article>

            <article>
                <img src="/img/imagen_3.jpg" alt="Producto3" class="artimg">
                <p class="arttxt">$9999.99</p>
            </article>

            <article>
                <img src="/img/imagen_4.jpg" alt="Producto4" class="artimg">
                <p class="arttxt">$9999.99</p>
            </article>
        </section>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>