*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #457B9D;
}


/* MAIN HEADER */

.main-header{
    font-family: 'Mulish', sans-serif;
    width: 100vw;
    position: sticky;
    z-index: 80;
    top: 0;
}

.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D3557;
    padding: 20px 40px;
    height: 100px;
    width: 100vw;
}

.form-container{
    display: flex;
    border: none;
    outline: none;
    max-width: 400px;
}

.form-input{
    flex: .8 0 auto;
    border-radius: 6px 0px 0px 6px;
    font-size: 1rem;
    height: 27px;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 0 0 15px;
    background-color: #fff;
    transition: width, font-size 1s ease;
}

.form-button{
    flex: 0 0 2rem;
    border-radius: 0px 6px 6px 0px;
    font-size: 22px;
    justify-content: center;
    align-content: center;
    border: none;
    outline: none;
    background-color: #fff;
    color: #457B9D;
}

.burger{
    color: #FAF6ED;
    font-size: 24px;
}

.logo-header{
    align-self: center;
    text-decoration: none;
    color: #FAF6ED;
}

.main-header-top-bar h1 a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #FAF6ED;
}

.main-header-top-bar h1 a:hover{
    color: #E63946;
    transition: all 1.5s ease;
}

.main-header-top-bar h1 .fa-fire{
    position: relative;
    bottom: 26px;
    left: 50%;
    font-size: 16px;
    color: #E63946;
}

.main-header-top-bar h1 .fa-fire:hover{
    animation: fueguito 3s infinite;
}


.main-header-right-bar{
    width: 70px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.main-header-right-bar a{
    color: #FAF6ED;
    font-size: 19px;
    text-decoration: none;
    padding: 0 12px 0;
    transition: font-size, margin 1s ease;
}

.main-header-right-bar a:hover{
    color: #E63946;
    transition: all 1.5s ease;
}


/* BOTTOM NAV-BAR */

.main-header-bottom-bar{
    width: 100%;
    height: 50px;
    background-color: #457B9D;
    opacity: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-navbar{
    display: flex;
}

.main-navbar a{
    text-decoration: none;
    color: #FAF6ED;
    font-size: 12px;
    margin: 0 2rem 0;
}

.main-navbar a:hover{
    color: #E63946;
    transition: all 1.5s ease;
}

.main-navbar .list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
}

.main-navbar .list a{
    font-size: 19px;
    font-weight: 200;
}


@media (max-width: 768px){
    .form-header{
        display: none;
    }

    .iniciar-sesion{
        display: none;
    }

    .main-header-bottom-bar{
        display: none;
    }
}

@media (min-width: 769px){
    .burger{
        display: none;
    }

    .main-header-top-bar h1 a{
        font-size: 2rem;
    }

    .search{
        display: none;
    }

    .main-header-right-bar{
        width: 200px;
    }

}

@keyframes fueguito{
    50%{
        transform: translateY(-5px) scale(1.15);
        color: #ec930d;
    }
}