*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    font-family: 'Mulish', sans-serif;
    background-color: #FAF6ED;
}

.banner-container{
    position: relative;
    display: flex;
}

.banner-container a{
    position: absolute;
    top: 45%;
    font-size: 40px;
    color: #FAF6ED;
}

.left-chevron{
    left: 2%;
}

.right-chevron{
    right: 2%;
}

.main-banner{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.categorias-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.categorias-container article{
    width: 100%;
    max-width: 40vw;
}

.article-hombre{
    flex-direction: row;
}