@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 767px) {
    /*Mobile*/
    .descr {
        font-size: 20px;
        color: black;
        font-family: 'Mulish', sans-serif;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    .precios {
        font-size: 28px;
        margin-right: 5px;
        color: #457B9D;
        font-family: 'Mulish', sans-serif;
        font-weight: bold;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        background-color: #FAF6ED;
        width: 90%;
    }
    main h1 {
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
        font-family: 'Oswald', sans-serif;
        width: 100%;
        font-size: 35px;
    }
    .cambiopagina {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 5vh;
        text-align: center;
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cambiopagina a {
        list-style: none;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        color: #457B9D;
    }
    .cambiopagina p {
        font-size: 25px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /*Tablet*/
    .descr {
        font-size: 20px;
        color: black;
        font-family: 'Mulish', sans-serif;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    .precios {
        font-size: 28px;
        margin-right: 5px;
        color: #457B9D;
        font-family: 'Mulish', sans-serif;
        font-weight: bold;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        background-color: #FAF6ED;
        width: 40%;
    }
    main section article img {
        width: 100%;
        display: block;
        margin: auto;
    }
    main h1 {
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
        font-family: 'Oswald', sans-serif;
        width: 100%;
        font-size: 45px;
    }
    .cambiopagina {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 5vh;
        text-align: center;
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cambiopagina a {
        list-style: none;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        color: #457B9D;
    }
    .cambiopagina p {
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    /*Descktop*/
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        margin-bottom: 3vh;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        background-color: #FAF6ED;
        /*padding: 15px;*/
        width: 32%;
    }
    .descr {
        font-size: 20px;
        color: black;
        font-family: 'Mulish', sans-serif;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    .precios {
        font-size: 28px;
        margin-right: 5px;
        color: #457B9D;
        font-family: 'Mulish', sans-serif;
        font-weight: bold;
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
    }
    main h1 {
        text-align: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
        font-family: 'Oswald', sans-serif;
        width: 100%;
        font-size: 45px;
    }
    .cambiopagina {
        width: 100%;
        margin-top: 3vh;
        margin-bottom: 5vh;
        text-align: center;
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cambiopagina a {
        list-style: none;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        color: #457B9D;
    }
    .cambiopagina p {
        font-size: 25px;
    }
}

main section a {
    list-style: none;
    text-decoration: none;
    width: 32%;
}

main section article img {
    width: 100%;
    display: block;
    border-bottom: 1px solid #FAF6ED;
}

main section article div {
    display: flex;
    flex-direction: column;
}

main {
    background-color: #FAF6ED;
}