.iniciar-sesion{
    display: none;
}

main{
    font-family: 'Mulish', sans-serif;
    background-color: #FAF6ED;
    height: 100vh;
}

.login-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 6rem;
    margin: auto;
}

.login-form{
    max-width: 400px;
    background-color: #457B9D;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 .25rem 0 rgba(16,16,16,1);
}

.login-form h1{
    color: #FAF6ED;
    font-size: 22px;
}

.login-form fieldset{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
    border: none;
    outline: none;
}

.login-form fieldset input{
    width: 50vw;
    max-width: 300px;
    padding: .5rem;
    border-radius: 6px;
    border: none;
    outline: none;
}

.login-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    outline: none;
}

.login-buttons button{
    width: 100%;
    border-radius: 6px;
    height: 2rem;
    border:none;
    outline: none;
}

.login-button{
    background-color: #E63946;
    color: #FAF6ED;
    transition: all .4s ease;
}

.login-button:hover{
    background-color: #ee1023;
}

.register-button{
    background-color: #1D3557;
    color: #FAF6ED;
    transition: all .4s ease;
}

.register-button:hover{
    background-color: #0e4694;
}

.dn{
    display: none;
}

.login-bottom{
   text-align: center; 
}

@media (max-width: 768) {

}