@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 767px) {
    /*Mobile*/
    img {
        max-height: 253px;
        max-width: 253px;
    }
    main section {
        flex-direction: column;
    }
    .secimag {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imagenprod {
        height: 80%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border: 2px solid black;
    }
    .titulo {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        width: 100%;
    }
    .precio {
        font-family: 'Oswald', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 45px;
        width: 100%;
        text-align: center;
    }
    .combos {
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin-left: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .comboestilo {
        background-color: #457B9D;
        color: white;
        width: 40%;
    }
    .txtdetallecompra {
        margin-right: 3vh;
        width: 20%;
    }
    .boton {
        background-color: #1D3557;
        color: white;
        font-family: 'Oswald', sans-serif;
        border: 1px solid #1D3557;
        font-size: 25px;
        padding: 1vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        font-family: 'Mulish', sans-serif;
        padding-top: 3vh;
        padding-bottom: 1vh;
        margin-left: 2vw;
        font-size: 25px;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 30px;
    }
    .descripcion {
        font-family: 'Mulish', sans-serif;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 12px;
    }
    .tepuedeinteresar article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20vw;
        height: auto;
        margin-bottom: 3vh;
        background-color: #457B9D;
        padding-top: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .tepuedeinteresar {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 100%;
    }
    .artimg {
        width: 90%;
        height: auto;
        max-width: 250px;
        max-height: 250px;
        border: 1px solid black;
        margin-bottom: 3vh;
    }
    .arttxt {
        font-family: 'Mulish', sans-serif;
        padding-bottom: 3vh;
        /*margin-left: 2vw;*/
        font-size: 10px;
        color: white;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /*Tablet*/
    .secimag {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imagenprod {
        margin-top: 1vh;
        margin-bottom: 1vh;
        height: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
    }
    .detallescompra {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .detallescompra section {
        margin-top: 10px;
    }
    .titulo {
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        width: 100%;
    }
    .precio {
        font-family: 'Oswald', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 45px;
        width: 100%;
    }
    .combos {
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin-left: 1vw;
    }
    .comboestilo {
        background-color: #457B9D;
        color: white;
        width: 200px;
    }
    .txtdetallecompra {
        margin-right: 3vh;
        width: 20%;
    }
    .boton {
        background-color: #1D3557;
        color: white;
        font-family: 'Oswald', sans-serif;
        border: 1px solid #1D3557;
        font-size: 25px;
        padding: 1vh;
        margin-top: 50px;
        width: 70%;
    }
    h3 {
        font-family: 'Mulish', sans-serif;
        padding-top: 3vh;
        padding-bottom: 1vh;
        margin-left: 2vw;
        font-size: 25px;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 45px;
    }
    .descripcion {
        font-family: 'Mulish', sans-serif;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 14px;
    }
    .tepuedeinteresar article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20vw;
        height: auto;
        margin-bottom: 3vh;
        background-color: #457B9D;
        padding-top: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .tepuedeinteresar {
        justify-content: space-around;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 100%;
    }
    .artimg {
        width: 90%;
        height: auto;
        max-width: 250px;
        max-height: 250px;
        border: 1px solid black;
        margin-bottom: 3vh;
    }
    .arttxt {
        font-family: 'Mulish', sans-serif;
        padding-bottom: 3vh;
        /*margin-left: 2vw;*/
        font-size: 15px;
        color: white;
    }
}

@media (min-width: 1024px) {
    /*Descktop*/
    .secimag {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imagenprod {
        margin-top: 1vh;
        margin-bottom: 1vh;
        height: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
    }
    .detallescompra {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .detallescompra section {
        margin-top: 10px;
    }
    .titulo {
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        width: 100%;
    }
    .precio {
        font-family: 'Oswald', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 45px;
        width: 100%;
    }
    .combos {
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin-left: 1vw;
    }
    .comboestilo {
        background-color: #457B9D;
        color: white;
        width: 200px;
    }
    .txtdetallecompra {
        margin-right: 3vh;
        width: 20%;
    }
    .boton {
        background-color: #1D3557;
        color: white;
        font-family: 'Oswald', sans-serif;
        border: 1px solid #1D3557;
        font-size: 25px;
        padding: 1vh;
        margin-top: 50px;
        width: 40%;
    }
    h3 {
        font-family: 'Mulish', sans-serif;
        padding-top: 3vh;
        padding-bottom: 1vh;
        margin-left: 2vw;
        font-size: 25px;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 3vh;
        font-size: 45px;
    }
    .descripcion {
        font-family: 'Mulish', sans-serif;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 20px;
    }
    .tepuedeinteresar article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20vw;
        height: auto;
        margin-bottom: 3vh;
        background-color: #457B9D;
        padding-top: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .tepuedeinteresar {
        justify-content: space-around;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 100%;
    }
    .artimg {
        width: 90%;
        height: auto;
        max-width: 250px;
        max-height: 250px;
        border: 1px solid black;
        margin-bottom: 3vh;
    }
    .arttxt {
        font-family: 'Mulish', sans-serif;
        padding-bottom: 3vh;
        /*margin-left: 2vw;*/
        font-size: 15px;
        color: white;
    }
}

main {
    background-color: #FAF6ED;
}

main section {
    display: flex;
    flex-wrap: wrap;
}

.frmbotoncarrito {
    display: flex;
    flex-wrap: wrap;
}