main{
    position: relative;
    font-family: 'Mulish', sans-serif;
    background-color: #FAF6ED;
    padding-top: 50px;
    max-width: 100%;
}

@media (min-width: 320px)  {
    

.login-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    top: -5%;
}

.login-form{
    max-width: 400px;
    background-color: #457B9D;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 .25rem 0 rgba(16,16,16,1);
    margin-bottom: 100px;
}

.login-form h1{
    color: #FAF6ED;
    font-size: 22px;
}

.login-form fieldset{
    display: flex;
    justify-content: left;
    align-content: left;
    margin: 2rem 0;
    border: none;
    outline: none;
}

.login-form fieldset input{
    width: 50vw;
    max-width: 300px;
    padding: .5rem;
    border-radius: 6px;
    border: none;
    outline: none;
}

.login-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    outline: none;
}

.login-buttons button{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    border-radius: 6px;
    height: 2rem;
    border:none;
    outline: none;
}

.login-button{
    background-color: #E63946;
    color: #FAF6ED;
    transition: all .2s ease;
}

.login-button:hover{
    background-color: #ee1023;
}

.register-button{
    background-color: #1D3557;
    color: #FAF6ED; 
    transition: all .2s ease;
}

.register-button:hover{
    background-color: #0e4694;
}

.dn{
    display: none;
}

.login-bottom{
   text-align: center; 
}

a{
    outline: none;
    text-decoration: none;
}

.a-register{
    color: #FAF6ED;
}

main .category{
    display: flex;
    width: 30vw;
    max-width:300px;
    color: #FAF6ED;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 40px;
    
}

main .category legend{
    padding-bottom: 30px;
}


main .category input {
    margin-top: 5px;
    width: 4vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

main .category .comprador, .vendedor{
    font-weight: normal;
    padding-right: 25px;
    font-size: 18px;
}


}