<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <title>Lexaeus</title>
    <link rel="icon" href="icon_path" type="image/icon type">
</head>
<body>
    <header class="main-header">
        <section class="main-header-top-bar">
            <form class="form-header" action="" method="#">
                <fieldset class="form-container">
                    <input class="form-input" type="text" placeholder="Buscar productos, marcas">
                    <button class="form-button"><i class="fas fa-search"></i></button>
                </fieldset>
            </form>
            <a class="burger" href="#"><i class="fas fa-bars"></i></a>
            <h1>
                <a href="/"><i class="fas fa-fire"></i></a>
                <a class="logo-header" href="/">Lexaeus</a>
            </h1>
            <section class="main-header-right-bar">
                <a class="iniciar-sesion" href="/login">Iniciar Sesión</a>
                <a class="search"><i class="fas fa-search"></i></a>
                <a class="shoping-cart" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </section>
        </section>
        <section class="main-header-bottom-bar">
            <nav class="main-navbar">
                <ul class="list">
                    <a href="/homesecundario">Hombre</a>
                    <a href="/homesecundario">Mujer</a>
                    <a href="/homesecundario">Accesorios</a>
                    <a href="/homesecundario">Calzado</a>
                    <a href="/homesecundario">Ofertas</a>
                    <a href="#">Ayuda</a>
                </ul>
            </nav>
        </section>
    </header>
    <main class="main">
        <section class="banner-container">
            <a class="left-chevron" href="#"><i class="fas fa-chevron-left"></i></a>
            <img class="main-banner" src="/img/banner-3.jpg" alt="Banner">
            <a class="right-chevron" href="#"><i class="fas fa-chevron-right"></i></a>
        </section>
        
        <section class="categorias-container">
            <article class="article-verano">
                <section class="textbanner">
                    <a class="text-btn" >Verano</a>
                </section>
                <a class="verano" href="#"><img src="/img/verano.png"></a>
            </article>

            <article class="article-accesorios">
                <section class="textbanner">
                    <a class="text-btn" >Accesorios</a>
                </section>
                <a class="accesorios" href="/homesecundario"><img src="/img/accesorios.jpg"></a>
            </article>

            <article class="article-hombre">
                <section class="textbanner">
                    <a class="text-btn" >Hombre</a>
                </section>
                <a class="hombre" href="/homesecundario"><img src="/img/hombre.jpg"></a>
            </article>

            <article class="article-mujer">
                <section class="textbanner">
                    <a class="text-btn" >Mujer</a>
                </section>
                <a class="hombre" href="/homesecundario"><img src="/img/mujer.jpg"></a>
            </article>
        </section>

        <section class="bottom-text">
            <article>
                <i class="fab fa-instagram"></i>
                <p>@Lexaeus</p>
            </article>
            <div>
                <span href="#">Seguinos</span>
            </div>
        </section>
        
        <section class="servicios-container">
            <article>
                <i class="fas fa-truck"></i>
                <h4>Envios a todo el pais</h4>
                <p>RECIBI TU PEDIDO EN CUALQUIER PARTE DEL PAIS</p>
            </article>

            <article>
                <i class="fas fa-credit-card"></i>
                <h4>9 y 12 Cuotas</h4>
                <p>SIN INTERES CON TODAS LAS TARJETAS</p>
            </article>

            <article>
                <i class="fas fa-shield-alt"></i>
                <h4>Seguro</h4>
                <p>TUS DATOS ESTAN SEGUROS</p>
            </article>
        </section>
    </main>
    <footer>
        <section class="parteizq">
            <section class="columnas">
                <article>
                    <p class="titulos">CATEGORIAS</p>
                    <i class="fas fa-chevron-right flecha"></i>
                    <ul>
                        <a href="#">Hombre</a>
                        <a href="#">Mujer</a>
                        <a href="#">Accesorios</a>
                        <a href="#">Zapatillas</a>
                        <a href="#">Ofertas</a>
                    </ul>
                </article>
                <article>
                    <p class="titulos">ACERCA DE</p>
                    <i class="fas fa-chevron-right flecha"></i>
                    <ul>
                        <a href="#">Lexeaus</a>
                        <a href="#">Terminos y Condiciones</a>
                        <a href="#">Privacidad</a>
                        <a href="#">Legal</a>
                    </ul>
                </article>
                <article>
                    <p class="titulos">AYUDA</p>
                    <i class="fas fa-chevron-right flecha"></i>
                    <ul>
                        <a href="#">Contacto</a>
                        <a href="#">FAQ</a>
                        <a href="#">Mi cuenta</a>
                        <a href="#">Comprar</a>
                        <a href="#">Vender</a>
                    </ul>
                </article>
            </section>
            <section class="seguinos">
                <p>SEGUINOS</p>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </section>
        </section>
        <section class="parteder">
            <article class="newsletter">
                <p class="tit">SUSCRIBITE A NUESTRO NEWSLETTER</p>
                <p class="parrafo">No te pierdas de toda la informacion de la temporada, nuevas prendas y tendencias en Lexeaus</p>
                <input type="text" name="newsletter" placeholder="Email">
                <button type="button">Enviar</button>
            </article>
            <article>
                <p class="copyright"><i class="far fa-copyright"></i> 2021 Lexaus | Todos los derechos reservados</p>
            </article>
        </section>
    </footer>
</body>
</html>