<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="/css/producto.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <title>Lexaeus</title>
</head>

<body>
    <header class="main-header">
        <section class="main-header-top-bar">
            <form class="form-header" action="" method="#">
                <fieldset class="form-container">
                    <input class="form-input" type="text" placeholder="Buscar productos, marcas">
                    <button class="form-button"><i class="fas fa-search"></i></button>
                </fieldset>
            </form>
            <a class="burger" href="#"><i class="fas fa-bars"></i></a>
            <h1>
                <a href="/"><i class="fas fa-fire"></i></a>
                <a class="logo-header" href="/">Lexaeus</a>
            </h1>
            <section class="main-header-right-bar">
                <a class="iniciar-sesion" href="/login">Iniciar Sesión</a>
                <a class="search"><i class="fas fa-search"></i></a>
                <a class="shoping-cart" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </section>
        </section>
        <section class="main-header-bottom-bar">
            <nav class="main-navbar">
                <ul class="list">
                    <a href="/homesecundario">Hombre</a>
                    <a href="/homesecundario">Mujer</a>
                    <a href="/homesecundario">Accesorios</a>
                    <a href="/homesecundario">Calzado</a>
                    <a href="/homesecundario">Ofertas</a>
                    <a href="#">Ayuda</a>
                </ul>
            </nav>
        </section>
    </header>
    <main>

        <section>

            <article class="secimag">
                <img src="/img/imagen_1.jpg" alt="Producto1" class="imagenprod">
            </article>

            <article class="detallescompra">

                <section class="titulo">
                    <p>Nombre del producto</p>
                </section>

                <section class="precio">
                    <p>$9999.99</p>
                </section>

                <section class="combos">
                    <p class="txtdetallecompra">Talle</p>
                    <select name="talle" class="comboestilo">
                
                        <option value="1">Talle 1</option>
                        <option value="2">Talle 2</option>
                        <option value="3">Talle 3</option>
                        <option value="4">Talle 4</option>
                        <option value="5">Talle 5</option>
                        <option value="6">Talle 6</option>
                        <option value="7">Talle 7</option>
                        <option value="8">Talle 8</option>
                        <option value="9">Talle 9</option>
                        <option value="10">Talle 10</option>

                    </select>
                </section>

                <section class="combos">
                    <p class="txtdetallecompra">Color</p>
                    <select name="color" class="comboestilo">
                
                        <option value="Blanco">Blanco</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Negro">Negro</option>
                        <option value="Gris">Gris</option>
                        <option value="Azul">Azul</option>

                    </select>
                </section>

                <section class="combos">
                    <p class="txtdetallecompra">Cantidad</p>
                    <select name="cantidad" class="comboestilo">
                
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                </section>

                <form class="frmbotoncarrito">
                    <button type="button" class="boton"><a class="a-productdetail" href="/productCart">Agregar al Carrito</a></button>
                </form>


            </article>

        </section>

        <h3>Descripcion</h3>

        <p class="descripcion">Una versión moderna de la simplicidad, la zapatilla Lerond está confeccionada con cuero napa y diseñada en combinaciones de colores atemporales inspiradas en el deporte. Un estilo discreto acentuado por detalles característicos, ejemplifica el
            legado distintivo del tenis de Lacoste. Características como la lengüeta del talón de cuero con efecto de carbono y los recubrimientos de malla de poliéster reciclado añaden destreza técnica al diseño contemporáneo.
        </p>

        <h2>Te puede Interesar</h2>

        <section class="tepuedeinteresar">
            <article>
                <img src="/img/imagen_2.jpg" alt="Producto2" class="artimg">
                <p class="arttxt">$9999.99</p>
            </article>

            <article>
                <img src="/img/imagen_3.jpg" alt="Producto3" class="artimg">
                <p class="arttxt">$9999.99</p>
            </article>

            <article>
                <img src="/img/imagen_4.jpg" alt="Producto4" class="artimg">
                <p class="arttxt">$9999.99</p>
            </article>
        </section>

    </main>
    <footer>
        <section class="parteizq">
            <section class="columnas">
                <article>
                    <p class="titulos">CATEGORIAS</p>
                    <i class="fas fa-chevron-right flecha"></i>
                    <ul>
                        <a href="#">Hombre</a>
                        <a href="#">Mujer</a>
                        <a href="#">Accesorios</a>
                        <a href="#">Zapatillas</a>
                        <a href="#">Ofertas</a>
                    </ul>
                </article>
                <article>
                    <p class="titulos">ACERCA DE</p>
                    <i class="fas fa-chevron-right flecha"></i>
                    <ul>
                        <a href="#">Lexaeus</a>
                        <a href="#">Terminos y Condiciones</a>
                        <a href="#">Privacidad</a>
                        <a href="#">Legal</a>
                    </ul>
                </article>
                <article>
                    <p class="titulos">AYUDA</p>
                    <i class="fas fa-chevron-right flecha"></i>
                    <ul>
                        <a href="#">Contacto</a>
                        <a href="#">FAQ</a>
                        <a href="#">Mi cuenta</a>
                        <a href="#">Comprar</a>
                        <a href="#">Vender</a>
                    </ul>
                </article>
            </section>
            <section class="seguinos">
                <p>SEGUINOS</p>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </section>
        </section>
        <section class="parteder">
            <article class="newsletter">
                <p class="tit">SUSCRIBITE A NUESTRO NEWSLETTER</p>
                <p class="parrafo">No te pierdas de toda la informacion de la temporada, nuevas prendas y tendencias en Lexaeus</p>
                <form>
                    <input type="text" name="newsletter" placeholder="Email">
                    <button type="button">Enviar</button>
                </form>
            </article>
            <article>
                <p class="copyright"><i class="far fa-copyright"></i> 2021 Lexaeus | Todos los derechos reservados</p>
            </article>
        </section>
    </footer>
</body>

</html>