<footer>
    <section class="parteizq">
        <section class="columnas">
            <article>
                <p class="titulos">CATEGORIAS</p>
                <i class="fas fa-chevron-right flecha"></i>
                <ul>
                    <a href="#">Hombre</a>
                    <a href="#">Mujer</a>
                    <a href="#">Accesorios</a>
                    <a href="#">Zapatillas</a>
                    <a href="#">Ofertas</a>
                </ul>
            </article>
            <article>
                <p class="titulos">ACERCA DE</p>
                <i class="fas fa-chevron-right flecha"></i>
                <ul>
                    <a href="#">Lexeaus</a>
                    <a href="#">Terminos y Condiciones</a>
                    <a href="#">Privacidad</a>
                    <a href="#">Legal</a>
                </ul>
            </article>
            <article>
                <p class="titulos">AYUDA</p>
                <i class="fas fa-chevron-right flecha"></i>
                <ul>
                    <a href="#">Contacto</a>
                    <a href="#">FAQ</a>
                    <a href="#">Mi cuenta</a>
                    <a href="#">Comprar</a>
                    <a href="#">Vender</a>
                </ul>
            </article>
        </section>
        <section class="seguinos">
            <p>SEGUINOS</p>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </section>
    </section>
    <section class="parteder">
        <article class="newsletter">
            <p class="tit">SUSCRIBITE A NUESTRO NEWSLETTER</p>
            <p class="parrafo">No te pierdas de toda la informacion de la temporada, nuevas prendas y tendencias en Lexeaus</p>
            <input type="text" name="newsletter" placeholder="Email">
            <button type="button">Enviar</button>
        </article>
        <article>
            <p class="copyright"><i class="far fa-copyright"></i> 2021 Lexaus | Todos los derechos reservados</p>
        </article>
    </section>
</footer>