<header class="main-header">
    <section class="main-header-top-bar">
        <form class="form-header" action="" method="#">
            <fieldset class="form-container">
                <input class="form-input" type="text" placeholder="Buscar productos, marcas">
                <button class="form-button"><i class="fas fa-search"></i></button>
            </fieldset>
        </form>
        <a class="burger" href="#"><i class="fas fa-bars"></i></a>
        <h1>
            <a href="/"><i class="fas fa-fire"></i></a>
            <a class="logo-header" href="/">Lexaeus</a>
        </h1>
        <section class="main-header-right-bar">
            <a class="iniciar-sesion" href="/login">Iniciar Sesión</a>
            <a class="search"><i class="fas fa-search"></i></a>
            <a class="shoping-cart" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </section>
    </section>
    <section class="main-header-bottom-bar">
        <nav class="main-navbar">
            <ul class="list">
                <a href="/homesecundario">Hombre</a>
                <a href="/homesecundario">Mujer</a>
                <a href="/homesecundario">Accesorios</a>
                <a href="/homesecundario">Calzado</a>
                <a href="/homesecundario">Ofertas</a>
                <a href="#">Ayuda</a>
            </ul>
        </nav>
    </section>
</header>