<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    
    <link href="/css/login.css" rel="stylesheet">

</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <section class="login-container">
            <form class="login-form" action="/" method="post">
                <h1>
                    Iniciar sesión
                </h1>
                <fieldset>
                    <legend class="dn">Usuario</legend>
                    <label class="dn" for="usuario">Nombre de Usuario</label>
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario" required>
                </fieldset>
        
                <fieldset>
                    <legend class="dn">Contraseña</legend>
                    <label class="dn" for="clave">Contraseña</label>
                    <input type="password" name="clave" id="clave" placeholder="Contraseña"required>
                </fieldset>

                <fieldset class="remember">
                    <legend class="dn">Recuerdame</legend>
                    <input class="i-remember" type="checkbox" name="remember" id="remember">
                    <label class="l-remember"  for="remember">Recordame</label>
                </fieldset>
        
                <fieldset class="login-buttons">
                    <legend class="dn">Botones del Formulario</legend>
                    <button class="login-button" type="submit">Iniciar Sesion</button>
                    <button class="register-button" type="reset"><a class="a-login" href="/register">Crear una Cuenta</a></button>
                </fieldset>
            </form>
        </section>
        <section class="login-bottom">
            <p>Olvidaste tu Contraseña?</p>
            <a href="#">Recuperar Contraseña</a>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>